**/*.log
**/._*
**/.DS_Store
**/.gitignore
**/.gitattributes
**/Thumbs.db
**/*.md
**/.dockerignore
Dockerfile*
.env*
!var/.gitignore
var/*
/web/web_test.php
.idea/
# google-cloud-auth.json
vm01.zip
vm02.zip
secrets.tar
machine-config.tar
node_modules