{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid main-banner">
        <div class="container">
            <div class="py-5"></div>
            <div class="py-5"></div>
        </div>
    </div>

{% endblock %}

{% block main %}

    <ul class="nav nav-tabs nav-justified mb-4" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="leagueStats-tab" data-toggle="tab" href="#leagueStats" role="tab" aria-controls="leagueStats" aria-selected="true">
                League
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="allStats-tab" data-toggle="tab" href="#allStats" role="tab" aria-controls="allStats" aria-selected="false">
                All
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="leagueStats" role="tabpanel" aria-labelledby="leagueStats-tab">
            {% if leagueTable %}

                {% include 'partial/_all_stats_table.html.twig' with {'playerStats' : leaguePlayersStats, 'isLeague' : true} %}

{#{% include "partial/_league_table.html.twig" %}#}
            {% endif %}

            <hr class="my-4">

            <h2>Games</h2>

            {% include 'partial/_game.html.twig' with {'games' : leagueGames} %}

        </div>
        <div class="tab-pane fade" id="allStats" role="tabpanel" aria-labelledby="allStats-tab">
            <h2>All games</h2>
            {% include 'partial/_all_stats_table.html.twig' with {'playerStats' : allPlayersStats}  %}

            <ul>
                <li>Games played: {{ overallStats.noOfGamesPlayed }}</li>
                <li>Cash won: {{ overallStats.cashWon|price }}</li>
            </ul>
            <p class="lead">More coming soon...</p>

            <hr class="my-4">

            <h2>Games</h2>

            {% include 'partial/_game.html.twig' with {'games' : allGames} %}
        </div>
    </div>

{% endblock %}


