{% extends 'base.html.twig' %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid main-banner">
        <div class="container">
            <div class="py-5"></div>
            <div class="py-5"></div>
        </div>
    </div>

{% endblock %}

{% block main %}

<h2>All Stats</h2>

    {% include 'partial/_all_stats_table.html.twig' %}

    <ul>
        <li>Games played: {{ overallStats.noOfGamesPlayed }}</li>
        <li>Cash won: {{ overallStats.cashWon|price }}</li>
    </ul>
    <p class="lead">More coming soon...</p>

    {% if leagueTable %}
        {% include "partial/_league_table.html.twig" %}
    {% endif %}

    <hr class="my-4">

    <h2>Games</h2>

    {% include 'partial/_game.html.twig' %}

{% endblock %}


