{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-12">
            <h1 class="my-4">{% block adminTitle %}{% endblock %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            {{ include('default/_flash_messages.html.twig') }}
            {% block main %}

            {% endblock %}
        </div>

        <div class="col-sm-3">
            {% block sidebar %}
            {% endblock %}
        </div>
    </div>

{% endblock %}