{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin creation</h1>

    <ul>
        <li>
            <a href="{{ path('player_index') }}">View Players</a>
        </li>
        <li>
            <a href="{{ path('game_index') }}">View Games</a>
        </li>
    </ul>

    <a href="{{ path('logout') }}">Log out</a>
{% endblock %}