{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block main %}
    <div class="col-sm-12">
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Manage Players</h4>
                        <p class="card-text">Add and edit players, set up bios, etc.</p>
                        <a class="btn btn-primary btn-lg" href="{{ path('admin_player_index') }}">Manage Players</a>

                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Manage Games</h4>
                        <p class="card-text">Set up games and add results</p>
                        <a class="btn btn-primary btn-lg" href="{{ path('admin_game_index') }}">Manage Games</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Manage Leagues</h4>
                        <p class="card-text">Set up leagues and add players</p>
                        <a class="btn btn-primary btn-lg" href="{{ path('admin_league_index') }}">Manage Leagues</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="py-4">Utilities</h2>
        </div>
        <div class="row pb-2">
            <a class="btn btn-primary" href="">Export Database</a>
        </div>
        <div class="row pb-2">
            <a class="btn btn-primary" href="">Flush Redis</a>
        </div>
        <div class="row pb-2">
            <a class="btn btn-primary" href="">Flush Cloudflare</a>
        </div>

    </div>


{% endblock %}