{% extends 'admin/index_base.html.twig' %}


{% block main %}

    <h1>The Gambling Club</h1>
    <hr class="my-4">


    <div class="row">
        <div class="col">
            <h2>{{ player.name }}</h2>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-9">

            <p>{{ player.bio }}</p>
            <ul>
                <li>League Position:</li>
                <li>Games Won / Games Played: 3/15 : 20%</li>
                <li>Won / Bought In / Net: £300 / £50 / £250</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <img src="http://via.placeholder.com/350x350" class="img-fluid rounded">
        </div>


    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4">
        </div>
    </div>


    TODO: charts in grid
    <ul>
        <li>Line: Position over time</li>
        <li>Bar: Win / Bought / Lost</li>
        <li>Pie: Win</li>
    </ul>



{% endblock %}


